.header {
  position: relative;
  width: 100%;
  height: 650px;
  /* height: 100; */

  background-image: linear-gradient(
      180deg,
      #194d41 0%,
      rgba(25, 77, 65, 0.7) 100%
    ),
    url('https://s3-alpha-sig.figma.com/img/db7f/e8ff/1b8e208e84d3e2135effaf4c522a8105?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SY5mhYFK5EqD6g1Ztf5S5cFHPOgGu~508pPGWX3n8cYSu09my1MO3JIsW1iTdfe6YKc6jPW7GZxjb00TwjXJL~zkbJuWCa7qKtrCnK5P2QPpvZzYt8CmHGgFvSUJJK-rVZ91qLH~oDKwypWghABw5aCv~Y-v3zdR0CLoiYXtNKdbjtvUVzrxP~8nnlPfvbkkv0V2zI01R3bAn~WdxbvaOb8L0N7hRaerBswvTYsR07dWomN02TZxo5P638W798qD8CuO~r50l077XM-U7gm6J7c1Twry7t~ggBZcU6Nbx0jstfO9KPqnVNFgUobt0oES4I41Ro3iOkdwfn~4WM0B5g__');

  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents repetition of the image */
  background-position: center; /* Centers the image */
}

.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.header_nav {
  justify-content: baseline;
  padding: 2.1875rem 8rem;
}
.header_nav col-6 {
  /* flex-direction: column;
  justify-content: space-between; */
}
.header_elements {
  justify-content: space-evenly;
  align-items: center;
}
.header_elements span {
  font-weight: bold; /* Ensure the phone number stands out */
  color: #5bc8af;
}
.intervention_text {
  margin-top: 10.65625rem;
}
.intervention_text h1 {
  text-align: start;
}
.intervention_text svg {
  width: 31.4375rem;
}
.intervention_text p {
  font-weight: 400;
  line-height: 24px;
}
.get_text {
  border: 1px solid #ffffff;
}

.contact-form {
  /* Adjust styling as needed */
  background-color: #349b5f; /* Green background */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4caf50; /* Darker green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
